includes:
	- %currentWorkingDirectory%/tests/php/phpstan/phpstan.neon

parameters:
  ignoreErrors:
    - '#Property statsbestproducts::\$html is never read, only written\.#'
    - '#Property ModuleGridCore::\$_direction \(string\) in isset\(\) is not nullable\.#'
